<!doctype html>
<html>
	<head>
		<title>Home</title>
		<meta charset="utf-8" />
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<script type="text/javascript" src="jquery.min.js"></script>
		<link href="assets/stylesheets/bootstrap.min.css" rel="stylesheet">
		<link href="assets/stylesheets/AutoHome.css" rel="stylesheet" type="text/css"/>
		
	<body data-spy="scroll" data-target=".navbar-collapse">
		<nav id = "nav" class="navbar navbar-default">
			<div id="logo">
				<%= image_tag("ams.png", size: "100x100", alt: "") %>
			</div>
			<ul class="nav nav-tabs" id="Menu">
				
	  			<li id ="homebut" role="presentation" class="right-button" type="Button">Home</li>
	  			<li id ="ContactBut" role="presentation" class="right-button" type="Button">Contacts</li>
			</ul>
		</nav>
	
	<div id="homePrin">
		<h1 align="Center" >Nueva cita</h1>
		<h2 align="Center" >
		<p align="center">
		Nombre Cliente: <input id= "nameCliente" type="text" value="<%= (@selectedCliente.NombreCliente + " " + @selectedCliente.ApellidoCliente) %> " readonly></input>
		<br>
		Telefono Contacto: <input id= "telefonoContacto" type="text"></input>
		<br>
		Placa de sus Autos: <%= select("autos", "placas", @autosCliente.collect {|p| [ p.Placa,p.id ]})%>
		<br>
		Asesor: <%= select("asesor", "all", @allAsesores.collect {|p| [ p.NombreAsesor,p.id ]})%>
		<br>
		Mecanicos: <%= select("mecanico", "all", @allMecanicos.collect {|p| [ p.NombreMecanico,p.id ]},{},{"multiple" => true})%>
		<br>
		<input type="radio" name="tipo" value="0" onclick="selected()" checked="checked">Mantenimiento  <input type="radio" name="tipo" value="1" onclick="selected()">Reparacion

		<br>
		<select id="MantoSelect" name="M">
    		<option value="5000" selected="selected">5000</option>
    		<option value="10000">10000</option>
    		<option value="15000">15000</option>
    		<option value="20000">20000</option>
  		</select>
		<select id="ReparacionSelect" name="R" multiple="true">
    		<option value="fallo del motor de arranque" selected="selected">fallo del motor de arranque</option>
    		<option value="fallo en el tren delantero">fallo en el tren delantero</option>
    		<option value="ruido cerca del motor">ruido cerca del motor</option>
  		</select>

		<script>
			var Mec = "";
			var Desc = "";
			$('#ReparacionSelect').hide();
			$('#MantoSelect').show();
			function selected(){
				if ($('input[name=tipo]:checked').val() == "0"){
					$('#ReparacionSelect').hide();
					$('#MantoSelect').show();
					
				}else{
					$('#MantoSelect').hide();
					$('#ReparacionSelect').show();
					
				}
			}
			$( "#ReparacionSelect" )
				.change(function () {
					Desc = "";
				$( "#ReparacionSelect option:selected" ).each(function() {
					Desc += $( this ).text() + "|";
				});
			});
			$( "#MantoSelect" )
				.change(function () {
					Desc = "";
				$( "#MantoSelect option:selected" ).each(function() {
					Desc += $( this ).text() + " ";
				});
			});

			$( "#mecanico_all" )
				.change(function () {
					Mec = "";
				$( "#mecanico_all option:selected" ).each(function() {
					Mec += $( this ).val() + "|";
				});
			});
		</script>


		<br>
		<button align="center" id="createCita" type="button" class="btn btn-lg btn"  >
					<span>Crear Cita</span>
		</button>

		</p>

		

	</div>
	<div id="ContPrin">
		<h1 align="Center" style="color: #fff;">Contact</h1>
		<p align="Center" style="color: #fff;">Hola aqui Se pondra nuestros Numeros Para todas las chicas guapas y sexis que nos quierean para haci poder tener mil novias</p>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/
	jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files
	as needed -->
	<script src="assets/javascripts/bootstrap.min.js"></script>
	<script>

	$("#ContPrin").hide();
	$("#homePrin").show();
		
		$("#homebut").click(function(){
			var url = "/homepage"
  			window.location.href=url
			
		});
	$("#ContactBut").click(function(){			
			$("#homePrin").hide();
			$("#ContPrin").show();
		});
	$("#createCita").click(function(){
  		$.ajax({
	     		url: "/nuevaCita",
	      		type: "POST",
	      		data: {nombreCliente: $("#nameCliente").val(), telefonoContacto: $("#telefonoContacto").val() , Mecan: Mec, Tipo: $('input[name=tipo]:checked').val(), Desc: Desc,asesorid: $("#asesor_all").val(),autoid: $("#autos_placas").val()},
	      		success: function(data){                
  				if (data != "Error"){
  					alert(data);
  					var url = "/homepage"
  					window.location.href=url
				}
				else{
					alert("ASD")				
				}
			}
  		});
	});
	</script>
	</body>

</html>

