<p id="notice"><%= notice %></p>

<p>
  <strong>Modelo:</strong>
  <%= @auto.Modelo %>
</p>

<p>
  <strong>Numeromotor:</strong>
  <%= @auto.NumeroMotor %>
</p>

<%= link_to 'Edit', edit_auto_path(@auto) %> |
<%= link_to 'Back', autos_path %>
